@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:wght@100;200;300&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Roboto', 'Work Sans';
  padding: 0;
  margin: 0px;
}

/*----------------------------HEADER SECTION ----------------------------*/
.coach {
  color: white;
}
.coach:hover {
  color: #ffae21;
}

.logo {
  font-family: 'Work Sans';
  transition: 0.5s ease;
}
.logo:hover {
  color: #ffae21;
  transform: scale(1.1);
  cursor: pointer;
}
header {
  z-index: 1;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  color: white;
  background-color: #223341;
  font-weight: bolder;
  height: 100px;
  border-radius: 0 0 20px 20px;
  margin: 10px;

  margin-top: 0;
}
.logo-muscle {
  filter: invert(100%);
  transform: translateY(20px);
}

.Nav-Bar {
  margin-right: 2rem;
  margin-left: 2rem;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul {
  display: flex;
}
a {
  text-decoration: none;
  transition: 0.5s ease;
}
a:hover {
  color: #ffae21;

  font-size: 1rem;
  cursor: pointer;
}
li {
  list-style: none;
  margin-right: 10px;
}
/*------------------------------------------------MAIN SECTION-------------------------------------*/
.first-img {
  width: 1400px;
  height: 600px;
  transform: translateY(-40px);
  border-radius: 5px 5px;
  margin-right: 1.7rem;
  margin-left: 1.7rem;
  background-color: rgba(0, 0, 0, 0.051);
}
span {
  color: #ffae21;
}
p {
  text-align: justify;
}
.para-1 {
  font-size: 0.9rem;
}
.main-section {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 1400px;
  transform: translateX(60px);
  height: 1100px;
  border-radius: 5px 5px 5px 5px;
  background-color: #223341;
  justify-content: center;
  align-items: center;
}
.para-div-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 35%;
}
.heading {
  text-align: center;
}
.contain {
  color: white;
  width: 1400px;
  display: flex;
  padding-left: 100px;
  padding-right: 100px;
  align-items: baseline;
  justify-content: space-between;
}

.vertical-line {
  position: absolute;
  top: 700px;
  height: 300px;
  width: 5px;
  right: 710px;
  border-radius: 5px;
  background-color: rgb(247, 245, 245);
  z-index: 1000;
}
