@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:wght@100;200;300&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Roboto', 'Work Sans';
  padding: 0;
  margin: 0px;
}
body {
  background-color: #fcfdff53;
}
/*----------------------------HEADER SECTION ----------------------------*/
.coach {
  color: white;
}
.coach:hover {
  color: #ffae21;
}

.logo {
  font-family: 'Work Sans';
  transition: 0.5s ease;
}
.logo:hover {
  color: #ffae21;
  transform: scale(1.1);
  cursor: pointer;
}
header {
  z-index: 1000;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  color: white;
  background-color: #223341;
  font-weight: bolder;
  height: 100px;
  border-radius: 0 0 20px 20px;
  margin: 10px;

  margin-top: 0;
}
.logo-muscle {
  filter: invert(100%);
  transform: translateY(20px);
  /* transform: translate(20px); */
  margin-left: 100px;
}

.Nav-Bar {
  margin-right: 2rem;
  margin-left: 2rem;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul {
  display: flex;
}
a {
  font-size: 16px;
  color: white;
  text-decoration: none;
  transition: 0.5s ease;
}
a:hover {
  color: #ffae21;

  /* font-size: 16px; */
  cursor: pointer;
}
li {
  list-style: none;
  margin-right: 15px;
}
/*------------------------------------------------MAIN SECTION-------------------------------------*/
.first-img {
  width: 1400px;
  height: 600px;
  transform: translateY(-40px);
  border-radius: 5px 5px;
  margin-right: 1.7rem;
  margin-left: 1.7rem;
  background-color: rgba(0, 0, 0, 0.051);
}
span {
  color: #ffae21;
}
p {
  text-align: justify;
}
.para-1 {
  font-size: 0.9rem;
}
.main-section {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 1400px;
  transform: translateX(60px);
  height: 1100px;
  border-radius: 5px 5px 5px 5px;
  background-color: #223341;
  justify-content: center;
  align-items: center;
}
.para-div-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 35%;
}
.heading {
  text-align: center;
}
.contain {
  color: white;
  width: 1400px;
  display: flex;
  padding-left: 100px;
  padding-right: 100px;
  align-items: baseline;
  justify-content: space-between;
}

.vertical-line {
  position: absolute;
  top: 700px;
  height: 300px;
  width: 5px;
  right: 710px;
  border-radius: 5px;
  background-color: rgb(247, 245, 245);
  z-index: 1000;
}
/* -----------------------------MAIN SECTION - 2------------------------- */

.main-section-1 {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
  background-color: #223341;
  position: relative;
  width: 1400px;
  border-radius: 5px;
  left: 4%;
}

.heading-3 {
  background-color: #223341;
  color: white;
  padding: 10px;
  position: absolute;
  left: 82%;
  top: 0%;
  padding-left: 50px;
  font-size: 2rem;
  border-radius: 0px 5px 0px 0px;
}
.container-0 {
  display: grid;
  grid-template-columns: 600px 150px 700px;
  grid-template-rows: 20px 400px 90px 600px;
  background-color: white;
  width: 1385px;
  height: 950px;
}

.cal {
  color: #fff;
  position: relative;
  top: 400px;
  font-size: 2rem;
  right: 200px;
}
.image-2 {
  transform: translateX(-7px);
  margin-right: 50px;
  align-self: stretch;
  grid-column: 1/2;
}
.para-3 {
  transform: translateY(150px);
  text-align: justify;
  margin-right: 10px;
  grid-column: 2/4;
  margin-right: 140px;
  margin-left: 80px;
  font-weight: bold;
  /* margin-bottom: 50px; */
  /* line-height: 30p; */

  /* line-height: 30px; */
}
/* picture num 2 in section 2 */
.image-3 {
  margin-left: 42px;
  grid-column: 3/4;
  grid-row: 4/5;
}
.image-2-1 {
  border-radius: 0px 0px 20px 0px;
}
.image-2-2 {
  border-radius: 20px 0px 0px 0px;
}
.para-4 {
  position: relative;
  top: 100px;
  font-weight: bolder;
  grid-column: 1/3;
  grid-row: 4/5;
  margin-right: 75px;
  margin-left: 80px;
  align-items: center;
  justify-content: center;
  /* align-self: ; */
}

.aesth {
  font-size: 2rem;
  margin-top: 400px;
  margin-left: 50px;
  z-index: 1;
  grid-column: 3/4;
  grid-row: 4;
  color: white;
  right: 50%;
  bottom: 0%;
}
/* -------------------------Main Section - 3 -------------------------------------------  */
.slider-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-solid {
  color: #ffae21;
}
.slide p {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  background-color: #223341;
  border-radius: 0px 0px 15px 15px;
}
.slider {
  width: 800px;
  height: 600px;
  border-radius: 10px;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 800px;
  height: 500px;
}

.navigation-manual {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}
.manual-btn {
  cursor: pointer;
  z-index: 1;
  border: 3px solid #ffffff;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}
.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #ffae21;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

.navigation-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}
.navigation-auto div {
  border: 3px solid #223341;
  padding: 5px;
  border: 10px;
  transition: 1s;
  border-radius: 10px;
}

.navigation-auto div:not(:last-child) {
  margin-right: 46px;
  margin-top: 3px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #ffae21;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #ffae21;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #ffae21;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: #ffae21;
}
/* ----------------------------MAIN Section -3-2 ---------------*/
.section-header {
  text-align: center;
  margin-bottom: 100px;
  background-color: #223341;
  width: 700px;
  color: #fff;
  padding: 10px;
  border-radius: 15px;
  transform: translateX(400px);
}

.main-section-2 {
  display: flex;
  justify-content: space-around;
  height: 350px;
}
.card {
  transition: 1s ease;
  height: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
  font-size: 1.8rem;
}
.name {
  margin-top: 1px;
  color: #fff;
  letter-spacing: 5px;
  padding: 20px;
  background-color: #223341;
}
.coach-card-2 {
  transform: translateX(-8px);
}
.card:hover {
  transform: scale(1.1);
  cursor: pointer;
}
#p-lifting {
  margin-bottom: 5px;
}
.path-choice a > img {
  margin-bottom: 10px;
}
.path-choice a {
  color: black;
  display: flex;
  font-weight: bold;

  align-items: center;
  flex-direction: column;
}
.b-building {
  transform: translateY(12px);
}

.path-choice {
  display: flex;
  justify-content: space-evenly;
  margin-right: 450px;
  margin-left: 450px;
}
.path-choice img {
  transition: 0.5s;
}
.path-choice img:hover {
  filter: invert(80%) sepia(30%) saturate(11207%) hue-rotate(0deg)
    brightness(95%) contrast(150%);
  transform: scale(1.05);
}

.path-choice a:hover {
  transform: scale(1.05);
  color: #ffae21;
}
.num1 {
  background-color: #fff;
  color: #0c3d64;
  opacity: 0.8;
  margin-top: 50px;
  margin-bottom: 45px;
  margin-left: 10px;
}

/* -----------------------footer - section---------------------- */
.row {
  margin-top: 100px;
  margin-left: 200px;
  margin-right: 200px;
  position: relative;
  transform: translateY(40px);
  background-color: #2233418f;
  padding: 0.5px;
  border: none;
  opacity: 0.5;
}
.row-2 {
  margin-left: 400px;
  background-color: #2233418f;
  margin-bottom: 100px;
  margin-right: 400px;
  width: 50%;
  opacity: 0.5;
  transform: translateY(120px);
}

footer {
  height: 300px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.footer-info {
  text-align: center;
  margin-top: 160px;
}
.main-content-footer ul > li > a {
  color: black;
}

.main-content-footer ul > li {
  margin-right: 60px;
  font-weight: bold;
}
.main-content-footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  /* padding-top: 100px; */
  height: 100px;
  /* background-color: bisque; */
}
.heading-4 {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 1.5rem;
  color: #0c3d64;
  opacity: 0.8;
}
.v-row {
  height: 20px;
  margin-right: 60px;
  width: 3px;
  border-radius: 10px;
  opacity: 0.5;
  background-color: #0c3d64;
}
.languages {
  transform: translateY(90px);
}
#footer-links {
  text-align: center;
  transform: translateX(10px);
}

#footer-links1,
#footer-links2,
#footer-links3 {
  color: #0c3d64;
  font-size: 18px;
  font-weight: bolder;
  transition: 0.5s ease;
  opacity: 0.6;
}
#footer-links1:hover,
#footer-links2:hover,
#footer-links3:hover {
  color: #ffae21;
  opacity: 1;
  cursor: pointer;
}

#contact-links1,
#contact-links2,
#contact-links3 {
  color: #0c3d64;
  transition: 0.5s ease;
  font-size: 13px;
  opacity: 0.6;
}
.vrow1 {
  width: 0.5px;
}

#contact-links {
  transform: translateX(20px);
}
.vrow {
  width: 2px;
  text-align: center;
  margin-left: -35px;
  margin-right: 20px;
}

#contact-links1:hover,
#contact-links2:hover,
#contact-links3:hover {
  color: #ffae21;
  opacity: 1;
}
